.page--test {
	display: flex;
	align-items: center;
	justify-content: center;

	main {
		width: 100%;
		padding: 0;
	}

	.header {
		flex: 0 0 75px;
		display: flex;
		align-items: center;
		padding: 20px;

		.brand {
			font-size: 13px;
			font-weight: 900;
			flex: 1 1 auto;
		}

		.btn--twitter,
		.btn--github {
			font-size: 20px;
			margin-left: 10px;

			i {
				color: $foreground;
				transition: ease-in-out color 300ms;
			}

			&:hover {
				i {
					color: $foreground-primary;
				}
			}
		}
	}

	form {
		flex: 1 1 calc(100% - 75px);
		display: flex;
		flex-direction: column;
		height: calc(100% - 75px);
	}

	fieldset {
		flex: 1 1 calc(100% - 270px);
		display: block;
		margin: 0;
		padding: 0;
		border: none;
		overflow-x: hidden;
		overflow-y: auto;
	}

	code {
		word-break: break-all;
	}

	@include media-breakpoint-up(sm) {
		background: #e0e0e0;

		main {
			display: flex;
			flex-direction: column;
			max-width: 375px;
			height: 77vh;
			border-radius: 3px;
			box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.2);
			background: white;
		}
	}

	@include media-breakpoint-down(xs) {
		background: white;

		main {
			min-height: 100vh;
		}

	}

}
